{% extends "ircam_www/base.html" %}
{% load i18n pages_tags mezzanine_tags %}

{% block meta_title %}
    {% trans "Home" %}
{% endblock %}

{% spaceless %}
{% block body_class %}
    home
{% endblock %}
{% endspaceless %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block content_header %}{% endblock %}

{% block main %}

    <div class="home-mobile-nav">
        {% page_menu "pages/menus/header.html" %}
    </div>

    {% include "home/inc/slider.html" %}

    <div class="container home__magazine">
        <div class="row">
            <div class="col-xs-8 col-md-9 col-xxs-12"><h2>.{% trans "Magazine" %}</h2></div>
            <div class="col-xs-4 col-md-3 col-xxs-12 mt1"><a class="button pull-right mr0" href="{% url 'magazine-article-list' %}">+&nbsp;{% trans 'all articles' %}</a></div>
        </div>
    </div>

    {% include "home/inc/body.html" %}

    <div class="container home__magazine__bottom">
        <div class="row">
            <div class="col-xs-3 col-xxs-12 mt0"><a class="button pull-right mr0" href="{% url 'magazine-article-list' %}">+&nbsp;{% trans 'all articles' %}</a></div>
        </div>
    </div>
    
    <div class="home-mobile-subnav">
        <hr class="mb0 mt4" />
        {% page_menu "pages/menus/header.html" %}
    </div>

    {% include "home/inc/bio.html" %}

    {% include "home/inc/services.html" %}

{% endblock %}
