{% extends "core/inc/generic_card.html" %}
{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

{% block metatitle %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block url %}
    {{ block.super }}
{% endblock %}

{% block image %}
{% endblock %}

{% block tags %}
    <div class="article-box__tags">
        <div class="tag tag--small tag--category">
            {{ object.topic.name }}
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

{% block subtitle %}
    {{ block.super }}
{% endblock %}
