{% extends "pages/page.html" %}
{% load i18n  mezzanine_tags event_tags keyword_tags disqus_tags organization_tags staticfiles pages_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
        {% trans "News" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block page_title %}
    <h1 class="dotted">{% trans "Dashboard" %}</h1>
{% endblock %}

{% block page_content %}

    {% for object in objects %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            {% with app_label=object|app_label_short classname=object|classname|lower  %}
                {% with app_label|add:"/"|add:classname|add:"/includes/"|add:classname|add:"_card.html" as template %}
                    {% include template %}
                {% endwith %}
            {% endwith %}
        </div>
    {% endfor %}
{% endblock %}

{% block page_sidebar %}
    {% if user.is_authenticated %}
        {% get_pages_in_menu menu_person_id as menu_login_logout %}
        {% for page in menu_login_logout %}
            {% if forloop.first %}
                <ul class="nav-tree nav-tree--level-{{ branch_level }}" data-sticky data-sticky-parent="page" data-sticky-offset="100" data-sticky-detach-at="971">
            {% endif %}
            {% if not page.parent %}
                <li class="nav-tree__item">
                    <a class="nav-tree__link{% if page.is_current %} active{% endif %}" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                </li>
            {% endif %}
            {% if forloop.last %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}

{% block page_related_content %}
   {% include "core/inc/related_content_dynamic.html" %}
{% endblock %}

