{% extends "ircam_www/base.html" %}
{% load i18n mezzanine_tags keyword_tags organization_tags pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description|safe }}
{% endmetablock %}{% endblock %}

{% block facebook_meta %}
    {% with page.images.all|get_type:'card' as card_image %}
    {% include 'core/inc/facebook_meta.html' with title=page.title description=page.description|safe image=card_image.first.file.url %}
    {% endwith %}
{% endblock %}

{% block main %}

    <div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}">
        <div class="container">

            <div class="row">

                <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">
                    {% block page_tags %}
                    {% endblock %}
                </div>

            </div>

            <div class="row">

                <div class="col-sm-9 col-sm-push-3 col-lg-9 col-lg-push-2 white-bg">
                    {% block page_title %}
                        {{ page.title }}
                    {% endblock %}
                </div>

            </div>

            <div class="row">

                <div class="col-sm-3 col-lg-2 page__sidebar">
                    <div style="position: relative;">
                        {% block page_sidebar %}
                            {% if page.get_ascendants|length < 2 %}
                                {% page_menu "pages/menus/current_tree_primary.html" %}
                            {% endif %}
                            {% if page.get_ascendants|length == 2 %}
                                {% page_menu "pages/menus/current_tree_secondary.html" %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
                <div class="mb2 col-sm-9 col-lg-9 white-bg page__content" data-summary-content>
                    {% block page_content %}
                        {{ page.content }}
                    {% endblock %}
                    {% block page_link %}
                        {% with object.links.all as links %}
                            {% if links %}
                                {% include 'core/inc/link.html' %}
                            {% endif %}
                        {% endwith %}
                    {% endblock %}
                    {% block page_file %}
                        {% with object.files.all as files %}
                            {% if files %}
                                {% include 'core/inc/files.html' %}
                            {% endif %}
                        {% endwith %}
                    {% endblock %}
                </div>

            </div>

        </div>

        {% block page_slider %}
        {% with object.images.all|get_type:'page_slider' as slider_images %}
            {% if slider_images %}
                {% include 'core/inc/slider.html' %}
            {% endif %}
        {% endwith %}
        {% endblock %}

        {% block multimedia %}
            {% for dm in object.dynamic_multimedia.all %}
                {% with content_type=dm.content_type_id|get_content_type %}
                {% with m_object=content_type|get_object:dm.object_id %}
                {% with template='media/'|add:content_type.model|add:"/includes/"|add:m_object.type|add:".html" %}
                    {% include template with object=m_object %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {% endfor %}
        {% endblock %}

        <div class="white-bg">

            {% block page_person_list %}
            {% endblock %}

            {% block page_demo %}
            {% endblock %}

            {% block page_blog %}
            {% endblock %}

            {% block page_sub_content %}
                {% with object.blocks.all as blocks %}
                    {% include "core/inc/block.html" %}
                {% endwith %}
            {% endblock %}

            {% block related_project %}
            {% endblock %}

            {% block products %}
                {% if page.product_lists.all|length > 0 %}
                    {% for page_product_list in page.product_lists.all %}
                      {% with page_product_list.list as list %}
                        {% with "shop/includes/product_list_"|add:list.style|add:"_style.html" as template %}
                          {% include template %}
                        {% endwith %}
                      {% endwith %}
                    {% endfor %}
                {% endif %}
            {% endblock %}

            {% block page_sub_content_2 %}
            {% endblock %}

            {% block page_person_list_team %}
            {% endblock %}

            {% block page_sub_content_3 %}
            {% endblock %}

            {% block page_hal %}
            {% endblock %}

            {% block logo %}
                {% with page.images.all|get_type:'logo' as images %}
                    {% if images %}
                        <div class="page__block{% if block.background_color %} page__block--{{ block.background_color }}{% endif %}">
                            <div class="white-bg pb2">
                                <div class="container">
                                    <div class="row" data-summary-content>
                                        <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">
                                            <ul class="partners-list">
                                                {% include 'core/inc/logo.html' %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endblock %}

        </div>

    </div>

    <div class="white-bg">

        {% block page_related_content %}
            {% include "core/inc/related_content_dynamic.html" with concrete_objects=page.dynamic_content_pages.all|get_content_objects object=page %}
        {% endblock %}

    </div>


{% endblock %}


{% block extra_footer %}
    {{ block.super }}
    <img src="https://secure.adnxs.com/seg?add=20921744&t=2" width="1" height="1" />
    <!-- Global site tag (gtag.js) - Google Ads: 784495553 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-784495553"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-784495553');
    </script>

    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<img src="https://ad.doubleclick.net/ddm/activity/src=9916055;type=invmedia;cat=ircam000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=' + a + '?" width="1" height="1" alt=""/>');
    </script>
    <noscript>
    <img src="https://ad.doubleclick.net/ddm/activity/src=9916055;type=invmedia;cat=ircam000;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?" width="1" height="1" alt=""/>
    </noscript>
{% endblock %}