{% extends "core/inc/generic_card.html" %}
{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

{% block metatitle %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block url %}
    {{ block.super }}
{% endblock %}

{% block image %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

{% block subtitle %}
    {{ block.super }}
{% endblock %}

{% block btn %}
    {% with object.links|get_type_link:'card_button' as links %}
        {% if links %}
            {% with links.first as link %}
            <div class="article-box__btn">
                <object><a href="{{ link.url }}" class="button button--small mr0" target="_blank">{{ link.title }}</a></object>
            </div>
            {% endwith %}
        {% endif %}
    {% endwith %}
{% endblock %}