{% extends "core/inc/generic_card.html" %}
{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

{% block metatitle %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block url %}
    {{ block.super }}
{% endblock %}

{% block image %}
    {{ block.super }}
{% endblock %}

{% block tags %}
    <div class="article-box__tags">
        {% if object.departments.first %}
            {% with object.departments.first as department %}
                <div class="tag tag--small dashed dashed--small">
                  {{ department.department.name }}
                </div>
            {% endwith %}
        {% endif %}
        {% if object.category %}
            <div class="tag tag--small tag--category">
                {{ object.category|truncatechars:15 }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

{% block subtitle %}
    <strong>
        {% include 'agenda/event/includes/event_date_line.html' %}
    </strong>
    {% if object.location %}
         <br />{{ object.location.title }}
    {% endif %}
{% endblock %}

{% block btn %}
    {% if object.reserve_button %}
        <div class="article-box__btn">
            <object><a href="{{ object.reserve_button.url }}" class="button button--small mr0">{{ object.reserve_button.label }}</a></object>
        </div>
    {% endif %}
{% endblock %}
