{% load i18n mezzanine_tags event_tags organization_tags %}

<div class="page__meta-date">
    <a href="{{ event.get_absolute_url }}">
        {% include 'agenda/event/includes/event_date_line.html' with object=event %}
    </a>
</div>

<div class="page__meta-separator page__meta-separator--small"></div>

{% if event.location %}
    <div class="page__meta-title">{{ event.location.title }}</div>
{% endif %}

{% if event.reserve_button %}
    <p>
        <a class="button mt1 event__meta__btn" href="{{ event.reserve_button.url }}">
            {{ event.reserve_button.label }}
        </a>
    </p>
{% endif %}

