{% load i18n mezzanine_tags keyword_tags pages_tags organization_tags %}
<div class="job-line-box job-line-box--candidacy">

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tac">

            {% with content.images.all|get_type:'card' as images %}
                {% if images %}
                    <img class="job-line-box__image" src="{{ MEDIA_URL }}{% thumbnail images.first 150 150 %}" alt="{{ content.title }}">
                {% endif %}
            {% endwith %}

        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            {% editable content.title %}
                <a href="{{ content.get_absolute_url }}"><h2 class="job-line-box__title">{{ content.title }}</h2></a>
            {% endeditable %}

            <div class="job-line-box__desc">
                {% if content.date_from or content.date_to %}
                    {% editable content.date_from content.date_to %}
                    <strong>
                    {% trans 'Candidacies' %}&nbsp;:&nbsp;
                        {% if content.date_from and content.date_to %}
                            {% trans "from" %}&nbsp;{{ content.date_from|date:"DATE_FORMAT" }}&nbsp;{% trans "to" %}&nbsp;{{ content.date_to|date:"DATE_FORMAT" }}<br/>
                        {% elif content.date_from %}
                            {% trans "from" %}&nbsp;{{ content.date_from|date:"DATE_FORMAT" }}<br/>
                        {% elif content.date_to %}
                            {% trans "until" %}&nbsp;{{ content.date_to|date:"DATE_FORMAT" }}<br/>
                        {% endif %}
                        </strong>
                    </strong>
                    {% endeditable %}
                    <br />
                {% endif %}
                {% editable content.content %}
                    <div class="article-box__desc">
                        {{ content.description|richtext_filters|safe|truncatechars_html:255 }}
                    </div>
                {% endeditable %}
            </div>
            {% if content.text_button %}
                <a class="button button--small" href="{{ content.get_absolute_url }}" title="{{ content.text_button }}" target="_blank">{{ content.text_button }}</a>
            {% endif %}
        </div>
    </div>

</div>
