{% load static i18n %}
<meta property="og:url"                content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}" />
<meta property="og:title"              content="{% block og_title %}{% if title %}{% blocktrans %}{{ title }}{% endblocktrans %}{% else %}{{ settings.SITE_TITLE }}{% endif %}{% endblock %}" />
<meta property="og:description"        content="{% block og_description %}{% if description %}{{ description }}{% else %}{{ settings.SITE_TAGLINE }}{% endif %}{% endblock %}" />
<meta property="og:image"              content="{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% if image %}{{ image }}{% else %}{% static '/src/assets/img/ircam_card_facebook.jpg' %}{% endif %}{% endblock %}" />
