{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

<a class="article-box" href="
    {% block url %}
        {% if object.content|removetags:'p'|slice:':4' == 'http' %}
            {{ object.content|removetags:'p' }}
        {% else %}
            {{ object.get_absolute_url }}
        {% endif %}
    {% endblock %}"
    {% block target %}
        {% if object.content|removetags:"p"|slice:':4' == 'http' %}target="_blank"{% endif %}
    {% endblock %}
    title="{% block metatitle %}{{ object.title }}{% endblock %}">
    <div class="article-box__header">
        {% block image %}
            {% with object.images.all|get_type:'card' as images %}
                {% if images %}
                    <figure class="article-box__image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail images.0.file 427 286 top=0.5 left=object.photo_alignment|get_photo_alignment %}" class="lazyload" />
                    </figure>
                {% else %}
                    <figure class="article-box__image">
                        {% if object.department %}
                            <div class="article-box__placeholder {{object.department.name|slugify}}"></div>
                        {% else %}
                            <div class="article-box__placeholder"></div>
                        {% endif %}
                    </figure>
                {% endif %}
            {% endwith %}
        {% endblock %}

        {% block tags %}
        {% endblock %}

        {% block btn %}
        {% endblock %}

    </div>

    <div class="article-box__content tal">
        <h3 class="article-box__title">
            {% block title %}
                {{ object.title }}
            {% endblock %}
        </h3>
        <div class="article-box__subtitle">
            {% block subtitle %}
                {{ object.sub_title }}
            {% endblock %}
        </div>
        <div class="article-box__desc">
            {% block content %}
                {{ object.description|richtext_filters|safe|truncatechars_html:200 }}
            {% endblock %}
        </div>
    </div>
</a>
