{% extends "agenda/event_detail.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n  disqus_tags event_tags organization_tags staticfiles %}

{% block event_detail_content %}
    <iframe id="shop-iframe" width="100%" height="1024px" scrolling="auto" src="{{ shop_url }}" frameborder="0" allowfullscreen=""></iframe>
{% endblock %}

{% block page_sidebar %}
    {{ block.super }}
    {% block button_reserve %}
        {# Do not display button #}
    {% endblock %}
{% endblock %}

{% block extra_footer %}
    <script src='{% static "ircam_www/js/iframe_reloader.js" %}'></script>
{% endblock %}
