{% load mezzanine_tags %}
<div class="white-bg pb2">
    <div class="container">
        <div class="row">
            <div class="mb2 col-lg-offset-2 col-sm-9 col-lg-9 white-bg page__content">
                {% if object.title %}
                    <h3 class="mt0">{{object.title}}</h3>
                {% endif %}
                {% if object.description %}
                    <p>
                        {{ object.description }}
                    </p>
                {% endif %}
                <video controls class="video-js vjs-ircam-skin" data-title="{{ object.title }}" data-setup='{"aspectRatio":"905:520"}' {% if object.poster_url %}poster="{{ object.poster_url }}"{% endif %}>
                    {% for transcoded in object.transcoded.all %}
                        <source src="{{ transcoded.url }}" type="{{ transcoded.mime_type }}" />
                    {% endfor %}
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>